* {
	box-sizing: border-box;
}



@media only screen and (max-width: 768px){
	header{
		background-image: url(javajammini.jpg);
		height: 128px;
	}

	main{
		padding-top: 1px;
	}

	h1{
		font-size: 2em;
		text-align: center;
		padding-left: 0;
	}

	h2{
		padding: 0.5em 0em 0em 0.5em;
		margin-right: 0.5em;
	}

	nav{
		margin: 0;
	}

	nav a{
		display: block;
		padding: 0.2em;
		width: auto;
		border-bottom: 1px #FEF6C2;
	}

	nav li{
		display: block;
	}

	.details{
		padding-right: 0;
		padding-left: 0;
	}

	.floatleft{
		padding-right: 0.5em;
		padding-left: 0.5em;
	}

	#heroroad{
		background-image: none;
		height: auto;
	}

	#heromugs{
		background-image: none;
		height: auto;
	}

	#heroguitar{
		background-image: none;
		height: auto;
	}

	#mobile{
		display: inline;
	}

	#desktop{
		display: none;
	}
}

@media only screen and (max-width: 1024px){
	body{
		margin: 0;
		background-image: none;
	}

	header{
		border-bottom: 5px solid #FEF6C2;
	}

	main{
		margin: 0;
		font-size: 90%;
	}

	h1{
		margin-top: 0;
		margin-bottom: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 2.5em;
	}

	nav{
		float: none;
		width: auto;
		padding-top: 0;
		margin: 10px;
		font-size: 1.3em;
	}

	nav li{
		display: inline-block;
	}

	nav a{
		padding: 1em;
		width: 8em;
		font-weight: bold;
		border-style: none;
	}

	nav ul{
		padding: 0;
		margin: 0;
	}

	#heroroad{
		margin: 0;
		padding: 0;
	}

	#heromugs{
		margin: 0;
		padding: 0;
	}

	#heroguitar{
		margin: 0;
		padding: 0;
	}

	#wrapper{
		width: auto;
		min-width: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
	}
}

body{
	background-color: #FCEBB6;
	color: #221811;
	font-family: Verdana, Arial, sans-serif;
	background-image: url(background.gif);
}

header{
	background-color: #D2B48C;
	height: 150px;
	background-image: url(javajammini.jpg);
	background-repeat: no-repeat;
}

main{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 2em;
	padding-top: 0;
	margin-left: 200px;
	background-color: #FEF6C2;
	display: block;
}

table{/*new code*/
	width: 90%;
	margin: auto;
	border-spacing: 0;
}

th{/*new code*/
	padding: 10px;
}

td{/*new code*/
	padding: 10px;
}

main h2{
	padding-left: 3em;
	padding-right: 2em;
}

main h3{
	padding-left: 3em;
	padding-right: 2em;
}

main h4{
	padding-left: 3em;
	padding-right: 2em;
}

main p{
	padding-left: 3em;
	padding-right: 2em;
}

main div{
	padding-left: 3em;
	padding-right: 2em;
}

main ul{
	padding-left: 3em;
	padding-right: 2em;
}

main dl{
	padding-left: 3em;
	padding-right: 2em;
}

h1{
	padding-top: 45px;
	padding-left: 220px;
	font-size: 3em;
}

h4{
	background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: 0.5em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
	border-bottom: solid;
	padding-bottom: 0;
	clear: left;
}

nav{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	float: left;
	width: 200px;
	background-color: #221811;/*new code*/
}

nav a:link{
	color: #FEF6C2;
}

nav a:visited{
	color: #D2B48C;
}

nav a:hover{
	color: #CC9933;
}

nav ul{
	padding-left: 0;
	list-style: none;
}

nav a{
	text-decoration: none;
}

footer{
	background-color: #D2B48C;
	font-size: 0.6em;
	text-align: center;
	font-style: italic;
	padding-bottom: 10px;
	border: 2px solid #221811;
}

#wrapper{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #231814;
	min-width: 900px;
	max-width: 1280px;
	box-shadow: 5px 5px 5px #828282;
}

#heroroad{
	background-image: url(heroroad.jpg);
	background-size: 100% 100%;
	height: 250px;
}

#heromugs{
	background-image: url(heromugs.jpg);
	background-size: 100% 100%;
	height: 250px;
}

#heroguitar{
	background-image: url(heroguitar.jpg);
	background-size: 100% 100%;
	height: 250px;
}

#herojobs{/*new code*/
	height: 250px;
	background-image: url(herojobs.jpg);
	background-size: 100% 100%;
}

#mobile{
	display: none;
}

#desktop{
	display: inline;
}

#mySubmit{/*new code*/
	margin-left: 9.5em;
}

#herocouch{/*new code*/
	height: 250px;
	background-image: url(herocouch.jpg);
	background-size: 100%;
}

.details{
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}

.floatleft{
	float: left;
	padding-right: 2em;
	padding-bottom: 2em;
}

.item{/*new code*/
	background-color: #FAF9F7;
	margin: 2em 3em 2em 3em;
	width: 80%;
	padding: 1em;
	overflow: auto;
}

img{
	padding-left: 10px;
	padding-right: 10px;
}

form{/*new code*/
	padding: 2em;
}

label{/*new code*/
	float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: 1em;
}

input{/*new code*/
	margin-bottom: 1em;
	display: block;
}

textarea{/*new code*/
	margin-bottom: 1em;
	display: block;
}

audio{/*new code*/
	display: block;
	margin-top: 1em;
}